body {
    background-color: #000000;
    margin: 0;
    padding: 10px;
}

div#content {
    width: 650;
    margin: 0 auto;
    border: 10px solid #666666;
    background-color: #cccccc;
    color: #000000;
    padding: 0;
}

div#left {
    width: 300px;
    margin: 0;
    border-right: 10px solid #666666;
    padding: 10px;
    float:left;
    height: auto;
}

div#right {
	width: 300px;
    margin: 0 0 0 320px;
    padding: 10px;
    border-left: 10px solid #666666; 

}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 30px double #666666;
}



div#footer {
	clear: both;
	border-top: 10px solid #666666;
	padding: 10px;
	text-align: center;
	}
    
a:link, a:visited {
	color: #666666;
}
a:hover, a:active {
	font-weight: bold;
}